table {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-collapse: collapse; 
}

th {
  padding: 10px; 
}

td {
  padding: 10px; 
  border-top: 2px solid #919191;
}

.list-btn {
  padding: 10px;
  width: 40px;
  height: 40px;
  color: #fffffc;
  background-color: #1a1a1a;
  border-radius: 5px;
  font-size: 20px;
}
