table {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-collapse: collapse; 
}

th {
  padding: 10px; 
}

td {
  padding: 10px; 
  border-top: 2px solid #fcfcfc;
}

.list-btn {
  width: 20px;
  padding: 10px;
  background-color: black;
  color: #fffffc;
  border-radius: 3px;
  /* border: 2px solid red; */
  /* margin: -10px; */
  margin-right: -30px;
  font-size: 20px;
}
