table {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-collapse: collapse; 
}

th {
  padding: 10px; 
}

td {
  padding: 10px; 
  border-top: 2px solid #fcfcfc;
}


.list-btn {
  padding: 10px;
  color: #fffffc;
  background-color: #1a1a1a;
  border-radius: 3px;
  font-size: 20px;
}
